<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- usamos boxicons-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/public/styles/create.css">

    <title>ramais</title>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"><img src="/image/1x/baseline_view_list_white_24dp.png" alt=""></i>
        </label>
        <label class="logo">Portal DTI</label>
        <ul>
            <li><a class= "active" href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header">Novo registro</div>
            <div class="card-body">
                <form action="/save" method="POST">
                    <div class="mb-3">
                        <label for="ramal" class="form-label">Ramal</label>
                        <input type="text" name="ramal" class="form-control" id="ramal" tabindex="1" >
                    </div>
                    <div class="mb-3">
                        <label for="setor" class="form-label">Setor</label>
                        <input type="text" name="setor" class="form-control" id="setor" tabindex="2">
                    </div>
                    <div class="mb-3">
                        <label for="funcionario" class="form-label">Funcionário</label>
                        <input type="text" name="funcionario" class="form-control" id="funcionario" tabindex="3">
                    </div>
                    <div class="mb-3">
                        <label for="empresa" class="form-label">Empresa</label>
                        <select id="empresa" name="empresa" class="form-select" tabindex="4">
                            <optgroup>
                                <option value="central">Centro</option>
                                <option value="parangaba">Parangaba</option>
                                <option value="vegaSul">Vega Sul</option>
                                <option value="montese">Montese</option>
                               </optgroup>
                        </select>
                    </div>


                    <button type="submit" class="btn btn-success" tabindex="5">Salvar</button>
                    <a href="/" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>

    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>

</html>